@import "tailwindcss";
@import "@fontsource-variable/open-sans";

@theme {
	--color-brand-50: #f2fbf5;
	--color-brand-100: #e0f8e8;
	--color-brand-200: #c3efd2;
	--color-brand-300: #95e0b0;
	--color-brand-400: #5eca86;
	--color-brand-500: #3cb96a;
	--color-brand-600: #2a8f4f;
	--color-brand-700: #247141;
	--color-brand-800: #215a37;
	--color-brand-900: #1d4a2f;
	--color-brand-950: #0b2817;

	--color-white: #fafafa;
	--color-black: #272727;

	--color-background: #f2f2f2;
	--color-foreground: var(--color-black);
	--color-card: var(--color-white);
	--color-primary: var(--color-brand-500);
	--color-primary-darker: var(--color-brand-600);
	--color-primary-foreground: var(--color-brand-50);
	--color-secondary: var(--color-neutral-200);
	--color-secondary-darker: var(--color-neutral-300);
	--color-secondary-foreground: var(--color-foreground);
	--color-muted: var(--color-neutral-200);
	--color-muted-foreground: var(--color-neutral-500);

	--color-focus: #3b82f6;
	--color-destructive: #e91923;
	--color-destructive-darker: #d7141e;
}

:root {
	font-family:
		"Open Sans Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--color-foreground);
	background-color: var(--color-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

@layer base {
	button,
	a {
		@apply cursor-pointer;
	}
}

@layer components {
	input:focus-visible,
	textarea:focus-visible {
		outline: 2px solid var(--color-focus);
		outline-offset: -1px;
	}
}

.progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	color: var(--color-brand-400);
	background-color: var(--color-neutral-200);
	border-radius: var(--radius-lg);
}

.progress::-webkit-progress-bar {
	background-color: var(--color-neutral-200);
	border-radius: var(--radius-lg);
}

.progress::-webkit-progress-value {
	background-color: var(--color-brand-400);
	border-radius: var(--radius-lg);
}

.progress::-moz-progress-bar {
	background-color: var(--color-brand-400);
	border-radius: var(--radius-lg);
}
