@import "tailwindcss";

@theme {
	--color-white: #f2f2f2;
	--color-black: #272727;

	--color-focus: #3b82f6;

	--color-primary-50: #fdf3f3;
	--color-primary-100: #fce4e5;
	--color-primary-200: #faced0;
	--color-primary-300: #f5acaf;
	--color-primary-400: #ed7c80;
	--color-primary-500: #e15257;
	--color-primary-600: #cd353b;
	--color-primary-700: #ac292e;
	--color-primary-800: #92262a;
	--color-primary-900: #772528;
	--color-primary-950: #400f11;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--color-black);
	background-color: var(--color-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

@layer base {
	button,
	a {
		@apply cursor-pointer;
	}
}

@layer components {
	input:focus-visible,
	textarea:focus-visible {
		outline: 2px solid var(--color-focus);
		outline-offset: -1px;
	}
}
